.form-container {
    max-width: 1200px;
    padding: 1rem;
}

.header-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.form-control:focus {
    border-color: #bdb5ae;
    box-shadow: 0 0 10px rgba(182, 155, 114, 0.5);
}

.brown-color {
    color: #6d6a67;
}

.btn-theme {
    background-color: #DED5CC;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-theme:hover {
    background-color: #bdb5ae;
    color: #fff;
}
